@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Poppins:400,700&display=swap");
$font-1: "Poppins", sans-serif;
$font-2: "Bree Serif", serif;

$color-1: #3ac9d7;
$color-2: #2a2a2a;
$color-3: #fff;
