#section-2 {
  .section-title {
    color: $color-2;
    font-size: 3rem;
    font-family: $font-2;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 5rem;
    letter-spacing: 0.2rem;
    @media (max-width: 600px) {
      font-size: 2rem;
      padding: 1.5rem 0;
      margin-bottom: 3rem;
      margin-top: 5rem;
    }
  }
  .container-section-2 {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    grid-gap: 3rem;
    justify-content: center;

    @media (max-width: 1050px) {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      width: 50%;
      margin: auto auto;
    }
    @media (max-width: 600px) {
      grid-gap: 1rem;
    }

    .progress {
      overflow: hidden;
      height: 30px;
      background: $color-2;
      border-radius: 10px;

      div {
        height: 100%;
        color: $color-2;
        text-align: center;
        background: $color-1;
      }
    }

    h3 {
      font-size: 2.5rem;
      font-family: $font-1;
      color: $color-2;
      font-weight: 400;
      @media (max-width: 600px) {
        font-size: 1.5rem;
      }
    }
  }
}
