#teaser {
  background-color: $color-1;
  background: url(/img/BG.svg) no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  .teaser-image {
    width: 70rem;
    max-width: 94%;
    position: absolute;
    bottom: 10%;
    transform: translateY(10%);
    left: 10%;

    @media (max-width: 800px) {
      left: 50%;
      transform: translate(-50%, 5%);
    }
    @media (max-width: 600px) {
      bottom: 25%;
    }
  }

  .teaser-in {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    width: 50%;
    left: 50%;
    color: $color-3;

    @media (max-width: 800px) {
      bottom: 35%;
      left: 50%;
      transform: translateX(-50%);
      width: fit-content;
    }
    @media (max-width: 600px) {
      bottom: calc(3% + 200px);
    }

    .teaser-title {
      font-size: 14rem;
      line-height: 1;
      max-width: 100%;

      @media (max-width: 1350px) {
        font-size: 10.5rem;
      }
      @media (max-width: 600px) {
        font-size: 7.5rem;
      }
      @media (max-width: 350px) {
        font-size: 6rem;
      }
    }

    .teaser-subtitle {
      font-size: 3rem;
      font-family: $font-2;

      @media (max-width: 600px) {
        font-size: 2rem;
      }
    }
  }

  .teaser-end {
    //display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    background-color: $color-2;
    @media (max-width: 800px) {
      padding: 0.2rem 0;
    }
    @media (max-width: 600px) {
      padding: 0.4rem 0;
    }

    .icons-container {
      align-content: center;
      width: 1400px;
      max-width: 94%;
      max-height: 94%;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      @media (max-width: 800px) {
        grid-template-columns: 1fr;
      }

      .icon-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid white;
        padding: 0 3rem;
        &:last-child {
          border: none;
        }
        @media (max-width: 800px) {
          border-right: none;
          border-bottom: 0.5px solid $color-3;
          padding: 0 1rem;
        }
        @media (max-width: 600px) {
          padding: 0.8rem 0;
          justify-content: space-between;
        }

        .icon-teaser {
          width: 7rem;
          left: 50%;
          @media (max-width: 800px) {
            width: 6rem;
          }
          @media (max-width: 600px) {
            width: 4.5rem;
            margin-left: 10%;
          }
        }

        .side-text {
          max-width: 200px;
          max-height: 10rem;
          right: 50%;
          color: $color-1;
          font-size: 2rem;
          font-family: $font-2;
          text-align: left;
          margin-left: 2rem;
          @media (max-width: 800px) {
            padding: 0.7rem;
          }
          @media (max-width: 600px) {
            max-height: 6rem;
            margin-right: 5%;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
